body {
    background: linear-gradient(90deg,#9939AA 0%, #9F23D5 50%, #9D00FF 100%);
}

.titulo {
    font-size: 50px;
    text-align: left;
    margin-top: 200px;    
    margin-left: 300px;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.quiz{
    margin-left: 100px;
    margin-top: -60px;
}

.nav {
  height: 80px;
  width: 101.2%;
  background-color: #333;
  margin: -11px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav a {
  display: block;
  padding: 30px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav a:hover {
  background-color: #111;
}

button {
  background: linear-gradient(90deg,#7826db 0%, #9843f3 50%, #a75af9 100%);
  color: black;
  height: 76px;
  width: 221px;
  margin-top: -34px;
  margin-left: 386px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}


button:hover{
  background: linear-gradient(90deg,#de91ec 0%, #e788ec 50%, #e25af4 100%);
}

.saibaMais {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  text-align: center;
  margin-top: 320px;
}

.quizButton {
  background: linear-gradient(90deg,#7826db 0%, #9843f3 50%, #a75af9 100%);
  color: black;
  height: 76px;
  width: 221px;
  margin-top: -34px;
  margin-left: 23px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin-top: 20px;
}

.imagem{
  position: absolute;
  top: 200px;         
  right: 350px;       
  width: 450px;      
  height: 450px;      
  z-index: 10;
}